.list-full-article {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  &__edit-button {
    position: absolute;
    right: 20px;
    top: 75px;
    display: flex;
    gap: 10px;
  }
  &__edit {
    all: unset;
    width: 65px;
    height: 31px;
    border: 1.5px solid rgba(82, 196, 26, 1);
    text-align: center;
    color: rgba(82, 196, 26, 1);
    border-radius: 5px;
    transition: 0.3s;
    &:hover {
      color: white;
      background-color: #27ae60;
    }
  }
  &__item {
    margin: 0 15px;
    position: relative;
    height: 140px;
    padding: 10px 15px;
    width: 100%;
    max-width: 938px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 4px 1px rgba(31, 31, 31, 0.2);
  }
  &__up {
    height: 20px;
    margin-top: 8px;
  }
  &__like-block {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &__title {
    all: unset;
    cursor: pointer;
    margin: 0;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(15px, 5vw, 20px);
    color: rgba(24, 144, 255, 1);
  }
  &__author {
    position: absolute;
    display: flex;
    align-items: center;
    right: 25px;
    gap: 15px;
    margin-top: 20px;
  }
  &__author-time {
    color: rgba(87, 87, 87, 0.5);
    margin: 0;
    font-size: 12px;
  }
  &__author-name {
    margin: 0;
    font-size: 18px;
  }
  &__author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heart {
    all: unset;
    background-size: cover;
    background-position: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  &__author-photo {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
  &__up {
    display: flex;
    align-items: center;
    gap: 13px;
  }
  &__tag-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5px;
  }
  &__tag-item {
    border: 1.2px solid rgba(0, 0, 0, 0.5);
    padding: 1.8px 3px;
    border-radius: 2.5px;
    font-size: 12px;
  }
  &__description {
    max-width: 682px;
    width: 100%;
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
  }
  &__body {
    text-align: left;
  }
}
